html{
  background-image: url('img/background_second.svg');
  background-size: cover; /* ou contain, en fonction de vos besoins */
  background-repeat: repeat;
  background-position: center center;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0;
}

.img_citoyen_container {
height: 200%;
margin: 0;
padding: 0;
display: flex;
align-content: center;
justify-content: center;
flex-wrap: wrap;
flex-direction: column;
}

.title {

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  border: 0px solid white;
  box-shadow: 0px 0px 9px -4px;

}

.img_citoyen {
 height:300%;
 margin-top:150px;
 margin-bottom: 150px;
 border: 0px solid white;
 box-shadow: 0px 0px 9px -4px;

}

.concepts_container {
  display: flex;
  justify-content: center;
  
  margin-top: 15px;
  margin-bottom: 150px;
}

.concepts{
  border: 0px solid white;
  box-shadow: 0px 0px 9px -4px;
}

.sous-titres {
  display:flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

/* partie communication */


  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    }

  .sous-titres-container {
  display:flex;
  justify-content: center;
  }

  .li_com_container{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top:50px;
    margin-bottom: 150px;
  }

.li_com_img{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width:29%;
}
  
.img_com{
    margin:15px;
    border-radius: 5px;
    border: 0px solid white;
    box-shadow: 0px 0px 9px -4px;
}

.img_com:hover{
  margin:15px;
  border-radius: 5px;
  border: 0px solid white;
  box-shadow: 0px 0px 20px -4px;
}

footer{
    display: flex;
    justify-content:flex-start;
    padding: 0px 75px 0px 75px;

  }

  /* btn ressources et retour */
  .btn_ressources:hover {
    background-color: #4e70bd;
  }
  
  .btn_ressources:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .btn_ressources:active {
    background-color: #1c4093;
    border-color: #1c4093;
  }
  
  .btn_ressources {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 3px solid #fecb37;
    border-radius: 0.25rem;
    color: #fff;
    background-color: #1c4093;
}

